{extend name="public:base" /}
{block name="content"}
<style type="text/css">
	.side-menu {
		display: none;
	}
	.content-page {
	    margin-left: 0;
	}
	.footer {
		left: 0;
	}
</style>
<div class="container-default">
    <div class="row">
		<div class="col-sm-6 col-md-6 col-lg-3">
			<div class="widget-bg-color-icon card-box">
				<div class="bg-icon bg-icon-info pull-left">
					<i class="fa fa-music text-info"></i>
				</div>
				<div class="text-right">
					{php}
						$songsCount = db('songs')->where('status',1)->count();
					{/php}
					<h3 class="text-dark"><b class="counter">{$songsCount}</b></h3>
					<p class="text-muted">Total number of songs</p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		
		<div class="col-sm-6 col-md-6 col-lg-3">
			<div class="widget-bg-color-icon card-box">
				<div class="bg-icon bg-icon-pink pull-left">
					<i class="fa fa-bullseye text-pink"></i>
				</div>
				<div class="text-right">
					{php}
						$albumCount = db('album')->where('status',1)->count();
					{/php}
					<h3 class="text-dark"><b class="counter">{$albumCount}</b></h3>
					<p class="text-muted">Total number of albums</p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		
		<div class="col-sm-6 col-md-6 col-lg-3">
			<div class="widget-bg-color-icon card-box">
				<div class="bg-icon bg-icon-purple pull-left">
					<i class="fa fa-user text-purple"></i>
				</div>
				<div class="text-right">
					{php}
						$userCount = db('member')->where('status',1)->count();
					{/php}
					<h3 class="text-dark"><b class="counter">{$userCount}</b></h3>
					<p class="text-muted">The total number of users</p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		
		
		<div class="col-sm-6 col-md-6 col-lg-3">
			<div class="widget-bg-color-icon card-box">
				<div class="bg-icon bg-icon-success pull-left">
					<i class="fa fa-microphone text-success"></i>
				</div>
				<div class="text-right">
					{php}
						$artistCount = db('artist')->where('status',1)->count();
					{/php}
					<h3 class="text-dark"><b class="counter">{$artistCount}</b></h3>
					<p class="text-muted">Total number of singers</p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>


	<div class="row">
        <!-- Transactions -->
        <div class="col-lg-4">
        	<div class="card-box">
				<h4 class="m-t-0 m-b-20 header-title"><b>system message</b></h4>

				<div class="nicescroll" tabindex="5001" style="height: 280px; overflow: hidden; outline: none;">
                    <ul class="list-unstyled transaction-list m-r-5">
                        <li>
                            <i class="ti-download text-success"></i>
                            <span class="tran-text">system version</span>
                            <span class="pull-right text-danger">
                            	{:config('jymusic_update_time')}
                            </span>
                            <span class="pull-right text-muted">
                            	JYmusic-V{$Think.const.JYMUSIC_VERSION}-
                            </span>
                            <span class="clearfix"></span>
                        </li>

                        <li>
                            <i class="ti-upload text-danger"></i>
                            <span class="tran-text">
                            	操作系统
                            </span>
                            <span class="pull-right text-danger tran-price">
                            	{$Think.const.PHP_OS}
                            </span>
                            <span class="clearfix"></span>
                        </li>

                        <li>
                            <i class="ti-download text-success"></i>
                            <span class="tran-text">Operating environment</span>
                            <span class="pull-right text-muted">
                            	{$_SERVER['SERVER_SOFTWARE']}
                            </span>
                            <span class="clearfix"></span>
                        </li>

                        <li>
                            <i class="ti-download text-success"></i>
                            <span class="tran-text">MYSQL version</span>
                            {php}
        						$system_info_mysql = db()->query("select version() as v;");
        					{/php}
                            <span class="pull-right text-success tran-price">
								{$system_info_mysql.0.v}
                            </span>
                            <span class="clearfix"></span>
                        </li>

                        <li>
                            <i class="ti-upload text-danger"></i>
                            <span class="tran-text">php upload limit</span>
                            <span class="pull-right text-info tran-price">
                            	{:ini_get('upload_max_filesize')}B
                            </span>
                            <span class="clearfix"></span>
                        </li>

                        <li>
                            <i class="ti-upload text-danger"></i>
                            <span class="tran-text" style="width: 125px;">POST upload limit</span>
                            <span class="pull-right text-info tran-price">
                            	{:ini_get('post_max_size')}B
                            </span>
                            <span class="clearfix"></span>
                        </li>

                        <li>
                            <i class="ti-upload text-danger"></i>
                            <span class="tran-text">Script execution time</span>
                            <span class="pull-right text-info tran-price">
                            	{:ini_get('max_execution_time')}second
                            </span>
                            <span class="clearfix"></span>
                        </li>

                    </ul>
                </div>
			</div>

        </div>

        <!-- CHAT -->
        <div class="col-lg-4">
        	<div class="card-box">
				<h4 class="m-t-0 m-b-20 header-title"><b>Product team</b></h4>

				<div class="nicescroll" tabindex="5001" style="height: 280px;overflow: hidden; outline: none;">
                    <ul class="list-unstyled transaction-list m-r-5">
                        <li>
                            <i class="ti-download text-success"></i>
                            <span class="tran-text">Master plan</span>
                            <span class="pull-right">
                            	Mars~~Battie[QQ:378020023]
                            </span>
                            <span class="clearfix"></span>
                        </li>

                        <li>
                            <i class="ti-upload text-danger"></i>
                            <span class="tran-text">
                            	system name
                            </span>
                            <span class="pull-right tran-price">
                            	JYmusic music(DJ)Management system
                            </span>
                            <span class="clearfix"></span>
                        </li>

                        <li>
                            <i class="ti-download text-success"></i>
                            <span class="tran-text" style="width: 155px;">Official interface experience team</span>
                            <span class="pull-right text-muted">
                            	JYniuniu, hunting day
                            </span>
                            <span class="clearfix"></span>
                        </li>

                        <li>
                            <i class="ti-download text-success"></i>
                            <span class="tran-text">Statement of responsibility</span>
                            <span class="pull-right text-success tran-price">
								The system is completely free of open source, the program is only for personal use, not for commercial purposes, so the consequences and the program has nothing to do with the author!
                            </span>
                            <span class="clearfix"></span>
                        </li>

                        <li>
                            <i class="ti-upload text-danger"></i>
                            <span class="tran-text">official website</span>
                            <span class="pull-right text-info tran-price">
                            	<a href="http://www.jyuu.cn" target="_blank">www.jyuu.cn</a>
                            </span>
                            <span class="clearfix"></span>
                        </li>

                        <li>
                            <i class="ti-upload text-danger"></i>
                            <span class="tran-text">BUG feedback</span>
                            <span class="pull-right text-info tran-price">
                            	<a href="http://topic.jyuu.cn/tag/%E7%A8%8B%E5%BA%8F%E5%8F%8D%E9%A6%88" target="_blank">topic.jyuu.cn</a>
                            </span>
                            <span class="clearfix"></span>
                        </li>

                    </ul>
                </div>
			</div>
        </div> <!-- end col-->


        <!-- Todos app -->
        <div class="col-lg-4">
        	<div class="card-box">
				<h4 class="m-t-0 m-b-20 header-title"><b>Song review</b></h4>
				<div class="todoapp">
                    <div class="row">
                        {notempty name="songsAuditList"}
                        <div class="col-sm-6">
                            <h4 id="todo-message">
                                <span id="todo-total">{:count($songsAuditList)}</span> The song needs to be reviewed
                            </h4>
                        </div>
                        <div class="col-sm-6">
                           
                            <a href="{:url('songs/index?status=audit')}" class="pull-right btn btn-primary btn-sm waves-effect waves-light" id="btn-archive">Click to review</a>
                            
                        </div>
                        {/notempty}
                    </div>
                    
                    <ul class="list-group no-margn nicescroll todo-list" style="height: 220px; overflow: hidden; outline: none;" id="todo-list" tabindex="5003">
                        {notempty name="songsAuditList"}
                            {foreach $songsAuditList as $vo} 
                            <li class="list-group-item">
                                {$vo['name']}
                            </li>
                            {/foreach}
                        {else /}
                            There are no songs to be reviewed yet
                        {/notempty}
                    </ul>


                </div>
			</div>
        </div>

    </div>
</div>
{/block}
{block name="script"}
<script type="text/javascript">
    $(function () {

        $.post("{:url('Update/check')}",function(data){
            if (data && data.status === 1){
                var html = '<div style="padding: 10px">Discover new updates available,Upgrade content:<br>'+data.info+'<br><a  href="{:url('/update/index')}">Click this update</a></div>';
                $.Notify.open(html);
            }
        });
    })
</script>
{/block}