{extend name="public:base" /}
{block name="content"}
<div class="panel panel-flat">
    <div class="panel-heading">
        <h3 class="panel-title">{:isset($data['id'])?'edit':'Added'}navigation</h3>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <form class="form-horizontal form-fixed form-submit" action="{:isset($info['id'])? url('update') : url('save')}">

                    <div class="form-group">
                        <label class="control-label text-right col-md-2 col-xs-12 ">
                            Superior navigation
                        </label>
                        <div class="col-md-4 col-xs-12">
                            {if condition="isset($parent['id'])"}
                            <select name="pid" class="form-control" >
                                <option value="{$parent['id']}">{$parent['title']}</option>
                                <option value="0">no</option>
                            </select>
                            {else/}
                            <input type="hidden" name="pid" value="{$info['pid']|default=" 0"}">
                            <input type="text" class="form-control" disabled="disabled" value="no"/>
                            {/if}

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 col-xs-12 text-right control-label">Navigation name</label>
                        <div class="col-md-6 col-xs-12">
                            <input type="text" name="title" class="form-control" value="{$info.title|default=''}">
                            <span class="help-block">Name is required</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 col-xs-12 text-right control-label">URL</label>
                        <div class="col-md-6 col-xs-12">
                            <input type="text" name="url" class="form-control" value="{$info.url|default=''}">
                            <span class="help-block">Can fill in with http://The absolute address</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label text-right col-lg-2">Whether a new window</label>
                        <div class="col-sm-8">
                            {if condition="isset($info)"}
                            <label class="radio-inline i-radios">
                                <input type="radio" name="target" {if condition="$info.target == 1" }checked="checked"{/if} value="1"> Yes
                            </label>
                            
                            <label class="radio-inline i-radios">
                                <input type="radio" name="target" {if condition="$info.target == 0" }checked="checked"{/if} value="0">no
                            </label>
                            {else /}
                            <label class="radio-inline i-radios">
                                <input type="radio" name="target" value="1">Yes
                            </label>
                            
                            <label class="radio-inline i-radios">
                                <input type="radio" name="target" checked="checked" value="0">no
                            </label>
                            {/if} 
                            <span class="help-block">The choice is to open a new window in the browser</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 col-xs-12 text-right  control-label">Sorting</label>
                        <div class="col-md-4 col-xs-12">
                            <input type="text" name="sort" class="form-control" value="{$info.sort|default=0}">
                            <span class="help-block">Valid only for current level classification</span>
                        </div>
                    </div>

                    <input type="hidden" name="id" value="{$info.id|default=''}">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-lg-6 text-left">
                            <button onclick="" type="button"
                                    class="btn btn-default btn-return">
                                <i class=" icon-arrow-left16 position-right"></i>Return to the previous page
                            </button>
                            <button type="submit" class="btn btn-primary" type="submit">
                                confirm submission<i class="icon-arrow-right16 position-right"></i>
                            </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
{/block}