{extend name="public:base" /}
{block name="content"}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{:isset($info['id'])?'edit':'Added'}Information classification</h3>
    </div>
    <div class="panel-body">
                  
        <form class="form-horizontal form-fixed form-submit" action="{:isset($info['id'])? url('update') : url('save')}">
            <div class="form-group">
                <label class="control-label text-right col-md-2 col-xs-12 ">
                    Sub-headings
                </label>
                <div class="col-md-4 col-xs-12">
                    <input type="text" class="form-control" disabled="disabled" value="{$parent['title']|default='无'}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 col-xs-12 text-right control-label">Category Name</label>
                <div class="col-md-6 col-xs-12">
                    <input type="text" name="title" class="form-control" value="{$info.title|default=''}">
                    <span class="help-block">Name is required</span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 col-xs-12 text-right control-label">Classification alias</label>
                <div class="col-md-3 col-xs-12">
                    <input type="text" name="alias" class="form-control" value="{$info.alias|default=''}">
                    <span class="help-block">Leave blank to automatically get pinyin</span>
                </div>

                <label class="col-md-2 col-xs-12 text-right control-label">Sorting sorting</label>
                <div class="col-md-2 col-xs-12">
                    <input type="text" name="sort" class="form-control" value="{$info.sort|default=''}">
                    <span class="help-block">Leave blank to sort automatically</span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 col-xs-12 text-right control-label">SEO title</label>
                <div class="col-md-8 col-xs-12">
                    <input type="text" name="meta_title" class="form-control" value="{$info.meta_title|default=''}">
                </div>
            </div>   
            <div class="form-group">
                <label class="col-md-2 col-xs-12 text-right control-label">SEO keywords</label>
                <div class="col-md-8 col-xs-12">
                    <input type="text" name="keywords" class="form-control" value="{$info.keywords|default=''}">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">SEO description</label>
                <div class="col-md-8">
                    <textarea rows="4" class="form-control" name="description">{$info.description|default=''}</textarea>
                </div>
            </div>

            <input type="hidden" name="id" value="{$info.id|default=''}">
            {if condition="isset($parent['id'])"}
            <input type="hidden" name="pid" value="{$parent['id']}">
            {else/}
            <input type="hidden" name="pid" value="{$info['pid']|default=" 0"}">
            {/if}
            <div class="form-group">
                <div class="col-md-offset-2 col-lg-6 text-left">
                    <button onclick="" type="button"
                            class="btn btn-default btn-return">
                        <i class="icon-arrow-left16 position-right"></i>Return to the previous page
                    </button>
                    <button type="submit" class="btn btn-primary" type="submit">
                        confirm submission<i class="icon-arrow-right16 position-right"></i>
                    </button>
                </div>
            </div>

        </form>
    </div>
    
</div>
{/block}
