{extend name="public:base" /}
{block name="content"}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Mail configuration</h3>
    </div>
    <div class="panel-body">

        <form class="form-horizontal form-fixed form-submit" id="mail-form" action="{:url('update')}">

            <div class="form-group">
                <label class="col-sm-2 control-label">Mail delivery method</label>
                <div class="col-sm-2">
                    <select id="form_email_send_type" class="form-control" name="send_type">
                        <option value="smtp" {neq name="config['send_type']" value="mail"}selected="selected"{/neq}>远程smtp</option>
                        <option value="mail" {eq name="config['send_type']" value="mail"}selected="selected"{/eq}>本地mail</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">SMTP address</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" value="{$config['host']|default='smtp.admin.com'}" name="host">
                    <span class="help-block">Send the mailbox smtp address, such as: smtp.qq.com</span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Whether to enable SSL connections</label>
                <div class="col-sm-6">
                    <label class="radio-inline i-radios">
                        <input type="radio" name="ssl" value="1" {if condition="$config.ssl == 1"}checked {/if}>Yes
                    </label>
                    <label class="radio-inline i-radios">
                        <input type="radio" name="ssl" value="0" {if condition="$config.ssl== 0"}checked {/if}>no
                    </label>
                    <span class="help-block">Local mail server, need php open support ssl</span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">port</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" style="width:80px" value="{$config['port']|default='25'}" name="port">
                    <p class="help-block">smtp port defaults to 25. Please refer to the description of each STMP service provider (If you are using Gmail or a QQ mailbox, set the port to 465)</p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Server user name</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" value="{$config['account']|default='admin@admin.com'}" name="account">
                    <p class="help-block">E-mail address Please enter the full address email@email.com format</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Server password</label>
                <div class="col-sm-4">
                    <input type="password" class="form-control"  value="{$config['password']|default='admin'}" name="password">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Sender name</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" value="{$config['sender_name']|default='JYmusic music program'}" name="sender_name">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Sender mailbox</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" value="{$config['sender_email']|default='admin@admin.com'}" name="sender_email">
                    <p class="help-block">The sender's mailbox is displayed in the message</p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Test Mailbox</label>
                <div class="col-sm-5">
                    <div class="input-group m-t-10">
                        <input type="email" id="example-email" class="form-control" placeholder="Fill in the test email address">
                        <span class="input-group-btn">
                            <a id="send-test-email" href="javascript:;" class="btn waves-effect waves-light btn-primary">Click test to send</a>
                        </span>
                    </div>
                </div>

            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-lg-6 text-left">
                    <button onclick="" type="button"
                            class="btn btn-default btn-return">
                        <i class=" icon-arrow-left16 position-right"></i>Return to the previous page
                    </button>
                    <button type="submit" class="btn btn-primary" type="submit">
                        Confirm save<i class="icon-arrow-right16 position-right"></i>
                    </button>
                </div>
            </div>

        </form>

    </div>
</div>
{/block}
{block name="script"}
<script type="application/javascript">
    var sendUrl = "{:url('test')}";

    $('#send-test-email').click(function () {
        var testMail = $('#example-email').val();
        if (!$.trim(testMail)) {
            $.Notify.topMsg('Please fill in the test mail to send the address');
            return ;
        }
        var query = $('#mail-form').serialize() + '&test_email=' + testMail;

        $.Notify.loading('Sending test mail...');
        $.post(sendUrl, query, function (res) {
            $.Notify.close();
            if (res.code) {
                $.Notify.topMsg('Test message sent successfully', 'success');
            } else {
                $.Notify.topMsg('Test mail failed to send' + res.msg);
            }

        });
    })
</script>
{/block}
