{extend name="public:base" /}
{block name="content"}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{:isset($info['id'])?'edit':'Added'}label</h3>
    </div>
    <div class="panel-body">        
        <form class="form-horizontal form-fixed form-submit" action="{:isset($info['id'])? url('update') : url('save')}">
            <div class="form-group">
                <label class="col-md-2 col-xs-12 text-right control-label">Rule title</label>
                <div class="col-md-6 col-xs-12">
                    <input type="text" name="title" class="form-control" value="{$info.title|default=''}">
                    <span class="help-block">The title can not be blank</span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">Click Insert Variable</label>
                <div class="col-md-10">
                    <a class="btn btn-skype btn-xs m-b-5 check-variable" data-val="$web_site_name" href="javascript:;">Site name</a>
                    <a class="btn btn-skype btn-xs m-b-5 check-variable" data-val="$web_site_title" href="javascript:;">Site title</a>
                    <a class="btn btn-skype btn-xs m-b-5 check-variable" data-val="$web_site_keyword" href="javascript:;">Website keywords</a>
                    <a class="btn btn-skype btn-xs m-b-5 check-variable" data-val="$web_site_description" href="javascript:;">Website description</a>
                    <a class="btn btn-skype btn-xs m-b-5 check-variable" data-val="$name" href="javascript:;">Current page name</a>
                    <a class="btn btn-skype btn-xs m-b-5 check-variable" data-val="$album_name" href="javascript:;">The album name</a>
                    <a class="btn btn-skype btn-xs m-b-5 check-variable" data-val="$artist_name" href="javascript:;">Artist name</a>
                    <a class="btn btn-skype btn-xs m-b-5 check-variable" data-val="$user_name" href="javascript:;">User's Nickname</a>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">Title rules</label>
                <div class="col-md-10">
                    <textarea rows="2" class="form-control rule-focus" name="title_rule">{$info.title_rule|default=''}</textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">Keyword rules</label>
                <div class="col-md-10">
                    <textarea rows="4" class="form-control rule-focus" name="keywords_rule">{$info.keywords_rule|default=''}</textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">Describe the rules</label>
                <div class="col-md-10">
                    <textarea rows="4" class="form-control rule-focus" name="description_rule">{$info.description_rule|default=''}</textarea>
                </div>
            </div>

            <input type="hidden" name="id" value="{$info.id|default=''}">
            <div class="form-group">
                <div class="col-md-offset-2 col-lg-6 text-left">
                    <button onclick="" type="button"
                            class="btn btn-default btn-return">
                        <i class=" icon-arrow-left16 position-right"></i>Return to the previous page
                    </button>
                    <button type="submit" class="btn btn-primary" type="submit">
                        confirm submission<i class="icon-arrow-right16 position-right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="application/javascript">
    var $focus = false;
    $(".rule-focus").focusin(function() {
        $focus = $(this);
    });
    
    $('.check-variable').click(function () {
        if (!$focus) {
            $.Notify.msg('Mouse click on the rules you want to insert');
            return false;
        }
        var val = $focus.val();
        var selVal = '{' +$(this).data('val') + '}';
        $focus.val(val + selVal);
    });

</script>
{/block}