{extend name="public:base" /}
{block name="content"}
<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">
            <b>Review the song</b>
            <small>[Can modify parameters]</small>
        </h2>
    </div>
    <div class="panel-body">
        <div class="row">
            <form  class="form-horizontal clearfix" id="audit-form" onsubmit="return false;"  action="{:url('audit')}">
                <div class="form-group">
                    <label class="col-md-2 control-label">Song name</label>
                    <div class="col-md-6">
                        <input type="text" name="name" class="form-control" value="{$info.name|default=''}">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Belongs to artist</label>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <input type="hidden" name="artist_id" value="{$info.artist_id|default=0}" class="form-control">
                            <input type="text" value="{$info.artist_name|default=''}" name="artist_name" class="form-control" placeholder="选择艺人">
                        </div>
                    </div>
                    <label class="col-sm-2 control-label">Belongs to the album</label>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <input type="hidden" name="album_id" value="{$info.album_id|default=0}" class="form-control">
                            <input type="text" value="{$info.album_name|default=''}" name="album_name" class="form-control" placeholder="选择所属专辑">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">category</label>
                    <div class="col-sm-4">
                        <select class="form-control" name="genre_id">
                            <option value="0">--Choose category--</option>
                            {volist name=":get_genre_tree('', '', true)" id="genre"}
                            <option {if condition="isset($info['genre_id'])"} {eq name="info['genre_id']" value="$genre['id']"} selected='selected'{/eq}{/if} value="{$genre['id']}">{$genre.title_show}</option>
                            {/volist}
                        </select>
                    </div>

                    <label class="col-sm-2 control-label">Affiliated users</label>
                    <div class="col-sm-4">
                        <input type="text" name="up_uname" class="form-control"  value="{$info.up_uname|default=''}">
                        <input type="hidden" name="up_uid" class="form-control" value="{$info.up_uid|default='1'}"  placeholder="填写用户id">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">File address</label>
                    <div class="col-md-10">
                        <input type="hidden" id="listen-file-id" name="extend[listen_file_id]" value="{$info.extend.listen_file_id|default=''}">
                        <input type="text" id="listen-file-path" name="extend[listen_url]" class="form-control" value="{$info.extend.listen_url|default=''}">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">Cover address</label>
                    <div class="col-md-10">
                        <input type="hidden" id="cover-file-id" name="cover_id" value="{$info.cover_id|default=''}">
                        <input type="text" id="cover-file-path" class="form-control" value="{$info.cover_url|default=''}">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Download the required gold coins</label>
                    <div class="col-sm-4">
                        <input type="text" name="extend[down_rule][coin]" class="form-control"  value="0">
                    </div>
                    <label class="col-sm-2 control-label">Download the required points</label>
                    <div class="col-sm-4">
                        <input type="text" name="extend[down_rule][score]" class="form-control"  value="0">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label text-right col-lg-2">Download the required user groups</label>
                    <div class="col-lg-10">
                        <label class="checkbox-inline i-checkboxs">
                            <input type="checkbox" name="extend[down_rule][group][]" value="0">Allow visitors
                        </label>
                        {foreach name=":get_user_groups()" item="vo" key="k"}
                        <label class="checkbox-inline i-checkboxs">
                            <input type="checkbox" checked="" name="extend[down_rule][group][]" value="{$vo['id']}">允许{$vo['name']}
                        </label>
                        {/foreach}
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label text-right col-lg-2">Song recommended bit</label>
                    <div class="col-lg-10">
                        {foreach name=":config('music_position')" item="vo" key="k"}
                        <label class="checkbox-inline i-checkboxs">
                            <input type="checkbox" name="position[]" value="{$k}">{$vo}
                        </label>
                        {/foreach}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">Dismiss the description</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="back_info" value="">
                    </div>
                </div>
                <input type="hidden" id="audit-status" name="status" value="1">
                <input type="hidden" name="id" value="{$info.id|default=''}">
                <input type="hidden" name="extend[mid]" value="{$info.id|default=''}">
                <div class="form-group">
                    <div class="col-md-offset-2 col-lg-6 text-left">
                        <button onclick="" type="button" class="btn btn-default btn-return">Return to the previous page
                        </button>
                        <button id="submit-pass" class="btn btn-primary">
                            Confirmation of approval
                        </button>
                        <button id="submit-back" class="btn btn-danger">
                            Confirmation of rejection
                        </button>
                    </div>
                </div>

            </form>

        </div>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function() {

    var $form = $('#audit-form');
    $("#submit-pass,#submit-back").click(function (e) {
        e.preventDefault();
        if ($(this).hasClass('btn-danger')) {
            $('#audit-status').val(0);
        }
        var query = $form.serialize();
        $.Notify.loading('Please submit the data later please...', 'warning', 200);
        $.ajax({
            type     : 'POST',
            url      : $form.attr('action'),
            data     : query,
            success  : function (res) {
                if (res.code) {
                    $.Notify.msg(res.msg + 'The page is about to refresh', 'success');
                    setTimeout(function () {
                        window.location.reload();
                    }, 1500)
                } else {
                    $.Notify.topMsg(res.msg, 'error');
                }
            },
            error    : function () {
                $.Notify.msg('Request failed,The server response failed!');
            }
        });
    });

});
</script>
{/block}
