{extend name="public:base" /}
{block name="style"}
<link type="text/css" href="__LIBS__/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" />
{/block}
{block name="content"}
<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title"><b>{:isset($info['id'])?'edit':'Added'}song</b></h2>
    </div>
    <div class="panel-body">
        <div class="row">
            <form  class="form-horizontal clearfix form-submit" role="form"  action="{:isset($info['id'])? url('update') : url('save')}">
        		<div class="col-md-8">
        			<div class="row">
                        <div class="form-group">
                            <label class="col-md-2 control-label">Song name</label>
                            <div class="col-md-6">
                                <input type="text" name="name" class="form-control" value="{$info.name|default=''}">
                                <span class="help-block">Name is required</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Belongs to artist</label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <input type="hidden" name="artist_id" value="{$info.artist_id|default=0}" class="form-control">
                                    <input type="text" value="{$info.artist_name|default=''}" name="artist_name" class="form-control" placeholder="Choose artist">
                                    <span class="input-group-btn">
                                    <button type="button" title="Choose the artist" class="btn btn-primary open-find-modal" data-url="{:url('artist/read')}">
                                        <i class="fa fa-search"></i></button>
                                    </span>
                                </div>
                            </div>
                            <label class="col-sm-2 control-label">Belongs to the album</label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <input type="hidden" name="album_id" value="{$info.album_id|default=0}" class="form-control">
                                    <input type="text" value="{$info.album_name|default=''}" name="album_name" class="form-control" placeholder="Select your album">
                                    <span class="input-group-btn">
                                    <button type="button" title="Select your album" class="btn btn-primary open-find-modal" data-url="{:url('album/read')}">
                                        <i class="fa fa-search"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">category</label>
                            <div class="col-sm-4">
                                <select class="form-control" name="genre_id">
                                    <option value="0">--Choose category--</option>
                                    {volist name=":get_genre_tree('', '', true)" id="genre"}
                                    <option {if condition="isset($info['genre_id'])"} {eq name="info['genre_id']" value="$genre['id']"} selected='selected'{/eq}{/if} value="{$genre['id']}">{$genre.title_show}</option>
                                    {/volist}
                                </select>
                            </div>

                            <label class="col-sm-2 control-label">Affiliated users</label>
                            <div class="col-sm-4">
                                <input type="hidden" name="up_uname" class="form-control"  value="{$info.up_uname|default=''}">
                                <input type="text" name="up_uid" class="form-control"  value="{$info.up_uid|default='1'}"  placeholder="Fill in the user id">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">Song label</label>
                            <div class="col-md-8">
                                <div class="input-group">

                                    <input type="text" name="tags" value="{$info.tags|default=''}"  placeholder="add tag"/>

                                    <button type="button" title="Select the label" class="btn btn-primary open-find-modal ml-10" data-url="{:url('tags/read')}">
                                        <i class="fa fa-search"></i>
                                        Search the label
                                    </button>

                                </div>
                                <span class="help-block">You can fill in, and the non-existence will be automatically added,Up to 6</span>
                            </div>
                            <div class="col-md-2">

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Belongs to the server</label>
                            <div class="col-sm-4">
                                <select class="form-control" id="select-server" name="extend[server_id]">
                                    <option value="0">Select the server</option>
                                    {volist name=":get_server()" id="ss"}
                                    <option {if condition="isset($info['extend']['server_id'])"} {eq name="info['extend']['server_id']" value="$ss['id']"} selected='selected'{/eq}{/if} value="{$ss['id']}">{$ss.name}</option>
                                    {/volist}
                                </select>
                            </div>
                        </div>

        				<div class="form-group">
        					<label class="col-md-2 control-label">Listen to address</label>
        					<div class="col-md-10">
        						<div class="bootstrap-filestyle input-group">
                                    <input type="hidden" id="listen-file-id" name="extend[listen_file_id]" value="{$info.extend.listen_file_id|default=''}">
        							<input type="text" id="listen-file-path" name="extend[listen_url]" class="form-control" value="{$info.extend.listen_url|default=''}" placeholder="You can fill out the chain address">
        							<span class="input-group-btn">
        								<label class="btn btn-default fileinput-button">
        									<span class="icon-span-filestyle glyphicon glyphicon-folder-open"></span>
        									<span class="buttonText">Select a document</span>
                                            <input id="upload-listen" type="file" name="files[]" multiple
                                                data-file-type="audio"
                                                data-upload-type="listen"
                                                data-target-id="#listen-file-id"
                                                data-target-path="#listen-file-path">
                                        </label>
        							</span>
        						</div>
        					</div>
        				</div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">download link</label>
                            <div class="col-md-10">
                                <div class="bootstrap-filestyle input-group">
                                    <input type="hidden" id="down-file-id" name="extend[down_file_id]" value="{$info.extend.down_file_id|default=''}">
                                    <input type="text" id="down-file-path" name="extend[down_url]" class="form-control" value="{$info.extend.down_url|default=''}" placeholder="可以填写外链地址">
                                    <span class="input-group-btn">
                                        <label class="btn btn-default fileinput-button">
                                            <span class="glyphicon glyphicon-folder-open"></span>
                                            <span class="buttonText">Select a document</span>
                                            <input id="upload-down" type="file" name="files[]" multiple
                                            data-file-type="audio"
                                            data-upload-type="down"
                                            data-target-id="#down-file-id"
                                            data-target-path="#down-file-path">
                                        </label>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">Cover address</label>
                            <div class="col-md-10">
                                <div class="bootstrap-filestyle input-group">
                                    <input type="hidden" id="cover-file-id" name="cover_id" value="{$info.cover_id|default=''}">
                                    <input type="text" id="cover-file-path" class="form-control" name="cover_url" value="{$info.cover_url|default=''}" placeholder="You can fill out the chain address">
                                    <span class="input-group-btn">
                                        <label class="btn btn-default fileinput-button">
                                            <span class="icon-span-filestyle glyphicon glyphicon-folder-open"></span>
                                            <span class="buttonText">Select a document</span>
                                            <input id="upload-cover" type="file" name="files[]" multiple
                                            data-file-type="image"
                                            data-upload-type="cover"
                                            data-target-id="#cover-file-id"
                                            data-target-path="#cover-file-path">
                                        </label>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Download the required gold coins</label>
                            <div class="col-sm-3">
                                <input type="text" name="extend[down_rule][coin]" class="form-control"  value="{$info.extend.down_rule.coin|default='0'}"  placeholder="">
                            </div>
                            <label class="col-sm-2 control-label">Download the required points</label>
                            <div class="col-sm-3">
                                <input type="text" name="extend[down_rule][score]" class="form-control"  value="{$info.extend.down_rule.score|default='0'}"  placeholder="">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label text-right col-lg-2">Download the required user groups</label>
                            <div class="col-lg-10">
                                {if condition="isset($info['extend']['down_rule']['group'])"}
                                <label class="checkbox-inline i-checkboxs">
                                    <input type="checkbox" {if condition="isset($info['extend']['down_rule']['group']) && in_array(0, $info['extend']['down_rule']['group'])"}checked=""{/if} name="extend[down_rule][group][]" value="0">Allow visitors
                                </label>
                                {foreach name=":get_user_groups()" item="vo" key="k"}
                                <label class="checkbox-inline i-checkboxs">
                                    <input type="checkbox" {if condition="isset($info['extend']['down_rule']['group']) && in_array($vo['id'], $info['extend']['down_rule']['group'])"}checked=""{/if} name="extend[down_rule][group][]" value="{$vo['id']}">允许{$vo['name']}
                                </label>
                                {/foreach}
                                {else /}
                                <label class="checkbox-inline i-checkboxs">
                                    <input type="checkbox" name="extend[down_rule][group][]" value="0">Allow visitors
                                </label>
                                {foreach name=":get_user_groups()" item="vo" key="k"}
                                <label class="checkbox-inline i-checkboxs">
                                    <input type="checkbox" checked="" name="extend[down_rule][group][]" value="{$vo['id']}">允许{$vo['name']}
                                </label>
                                {/foreach}
                                {/if}
                                <P class="help-block">As long as the set of gold coins or points visitors to download check invalid</P>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label text-right col-lg-2">Song recommended bit</label>
                            <div class="col-lg-10">
                                {if condition="isset($info)"}
                                {foreach name=":config('music_position')" item="vo" key="k"}
                                <label class="checkbox-inline i-checkboxs">
                                    <input type="checkbox" name="position[]" {if condition="$k & $info['position']" }checked="checked"{/if} value="{$k}">{$vo}
                                </label>
                                {/foreach}
                                {else /}
                                {foreach name=":config('music_position')" item="vo" key="k"}
                                <label class="checkbox-inline i-checkboxs">
                                    <input type="checkbox" name="position[]" value="{$k}">{$vo}
                                </label>
                                {/foreach}
                                {/if}
                                <span class="help-block">Multiple recommended bits can be selected</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">lyrics</label>
                            <div class="col-md-10">
                                <textarea class="form-control" name="extend[lrc]" rows="5">{$info.extend.lrc|default=''}</textarea>
                                <span class="help-block">Can fill in the lyrics URL address</span>
                            </div>
                        </div>

                        <!--div class="form-group">
                            <label class="col-md-2 control-label">歌曲简介</label>
                            <div class="col-md-10">
                                <textarea class="form-control" id="song-introduce" rows="5" name="extend[introduce]">{$info.extend.introduce|default=''}
                                </textarea>
                            </div>
                        </div-->
                    </div>
                    <input type="hidden" name="id" value="{$info.id|default=''}">
                    <input type="hidden" name="status" value="{$info.status|default='1'}">
                    <input type="hidden" name="extend[mid]" value="{$info.id|default=''}">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-lg-6 text-left">
                            <button onclick="" type="button"
                                    class="btn btn-default btn-return">
                                <i class=" icon-arrow-left16 position-right"></i>Return to the previous page
                            </button>
                            <button type="submit" class="btn btn-primary" type="submit">
                                confirm submission<i class="icon-arrow-right16 position-right"></i>
                            </button>
                        </div>
                    </div>
        		</div>

        		<div class="col-md-4">
        			<div class="row">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Listings</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" name="listens" value="{$info.listens|default=''}">
                            </div>

                            <label class="col-md-3 control-label">download times</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" name="download" value="{$info.download|default=''}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Number of collections</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="favtimes" value="{$info.favtimes|default=''}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">The number of times</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" name="digg" value="{$info.favtimes|default=''}">
                            </div>

                            <label class="col-md-3 control-label">The number of times</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" name="bury" value="{$info.favtimes|default=''}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Original sing</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="sing" value="{$info.sing|default=''}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Lyrics</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="lyrics" value="{$info.lyrics|default=''}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Composer</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="composer" value="{$info.composer|default=''}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Arranger</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="midi" value="{$info.midi|default=''}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Network disk download address</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="extend[disk_url]" value="{$info.extend.disk_url|default=''}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Network disk password</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="extend[disk_pass]" value="{$info.extend.disk_pass|default=''}">
                            </div>
                        </div>

                        <!--div class="form-group hidden">
                            <label class="col-md-3 control-label">文件大小</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="down-file-size" name="extend[file_size]" value="{$info.extend.file_size|default=''}">
                            </div>
                        </div>

                        <div class="form-group hidden">
                            <label class="col-md-3 control-label">文件bit</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="down-file-bit" name="extend[bitrate]" value="{$info.extend.bitrate|default=''}">
                            </div>
                        </div>

                        <div class="form-group hidden">
                            <label class="col-md-3 control-label">播放时长</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="down-play-time" name="extend[bitrate]" value="{$info.extend.play_time|default=''}">
                            </div>
                        </div-->
                    </div>
                </div>
            </form>

        </div>
	</div>
</div>

{/block}
{block name="script"}
<script type="text/javascript" src="__LIBS__/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $("input[name='tags']").tagsinput({
        maxTags: 6,
        maxChars: 40
    });
});
</script>
{:hook('file', ['wiget'=>'Uplaod', 'is_admin' => true, 'element' => ['#upload-listen','#upload-down', '#upload-cover']])}
{/block}
