{extend name="public/base" /}
{block name="content"}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Modify the administrator profile</h3>
    </div>
    <div class="panel-body">
            <form class="form-horizontal form-fixed form-submit" action="{:url('user/profile')}">
                <div class="form-group">
                    <label class="col-md-2 col-xs-12 text-right control-label">username</label>
                    <div class="col-md-8 col-xs-12">
                        <input type="text" name="username" require="" class="form-control" value="{$info.username|default=''}">
                        <span class="help-block">Username can not be empty</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">user password</label>
                    <div class="col-md-8 col-xs-12">
                        <input type="text" name="password" placeholder="6-30 characters" class="form-control" value="">
                        <span class="help-block">
                            {$info?  'Leaving blank will not change the password' : 'password can not be blank'}
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">verify password</label>
                    <div class="col-md-8 col-xs-12">
                        <input type="text" name="oldpassword" placeholder="Enter the original password verification" class="form-control" value="">
                        <span class="help-block">
                            Enter the current password for verification
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-lg-6 text-left">
                        <button onclick="" type="button"
                                class="btn btn-default btn-return">
                            <i class=" icon-arrow-left16 position-right"></i>Return to the previous page
                        </button>
                        <button type="submit" class="btn btn-primary" type="submit">
                            confirm submission<i class="icon-arrow-right16 position-right"></i>
                        </button>
                    </div>
                </div>
            </form>

    </div>
</div>
{/block}
{block name="script"}
<script type="text/javascript" src="__LIBS__/distpicker/distpicker.min.js"></script>
<script type="text/javascript">
$('#distpicker').distpicker({
    province: '{$info.member.province|default=''}',
    city: '{$info.member.city|default=''}',
    district: '{$info.member.district|default=''}'
});
</script>
{/block}
