{extend name="public/base"/}
{block name="nav"}
<h4>Installation progress</h4>
	<hr>
	<div class="progress">
		<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
		carry out
		</div>
	</div>
		
	<div class="bs-example">
	    <ol style="margin-bottom: 5px;" class="breadcrumb">
	      	<li><a href="javascript:;">protocol</a></li>
	      	<li><a href="javascript:;">Detection</a></li>
	      	<li><a href="javascript:;">Configuration</a></li>
	      	<li><a href="javascript:;">{eq name="Think.session.update" value="1"}upgrade{else/}installation{/eq}</a></li>
	      	<li class="active">carry out</li>
	    </ol>
	</div>
</block>

{block name="btn"}
    <a class="btn btn-primary btn-large" href="/admin.php">Log in background</a>
    <a class="btn btn-success btn-large" href="/index.php">Visit the home page</a>
{/block}

{block name="content"}
    <h3>carry out</h3>
	<p class="alert alert-danger">Be sure to delete the root directory of the site.php</p>
    <p>{eq name="Think.session.update" value="1"}upgrade{else/}installation{/eq}</a>carry out!</p>
	{present name="info"}
	{$info}
	{/present}
{/block}
