{extend name="public/base"/}
{block name="nav"}
<h4>Installation progress</h4>
	<hr>
	<div class="progress">
		<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
		Installation agreement
		</div>
	</div>
		
	<div class="bs-example">
	    <ol style="margin-bottom: 5px;" class="breadcrumb">
	      	<li class="active">protocol</li>
	      	<li><a href="javascript:;">Detection</a></li>
	      	<li><a href="javascript:;">Configuration</a></li>
	      	<li><a href="javascript:;"><eq name="Think.session.update" value="1">upgrade<else/>installation</eq></a></li>
	      	<li><a href="javascript:;">carry out</a></li>
	    </ol>
	</div>
{/block}

{block name="btn"}
  	<p>
    	<a role="button" href="{:url('index/step1')}" class="btn btn-success">Agree and install</a>
    	<a role="button" href="http://www.jyuu.cn" class="btn btn-danger">Exit the installation</a>			        	
    </p>
{/block}

{block name="content"}
    <h3>安装协议</h3>
    <p class="text-lowercase">
    	Thank you for choosing JYmusic music program and hope that our efforts will provide you with an efficient fast and powerful site solution.
    	For the correct and legal use of the Program, please read and understand the following terms and conditions before use:<br><br>
    	Once you agree, you will be deemed to have fully accepted this Agreement. JYmusic official has the final interpretation of this agreement!<br><br>
    	two, The right to license the agreement<br><br>
		&nbsp;&nbsp;&nbsp;&nbsp;1. This Agreement is a legal agreement between you and JYmusic regarding your use of the Product and Services. Just use JYmusic Or any part of the copyright notice at the footer of the page without written permission) by JYmusic© 2014-{:date('Y')} all rights reserved) And JYmusic official website (http://www.jyuu.cn) must be retained and can not be cleared or modified.<br><br>
		
		&nbsp;&nbsp;&nbsp;&nbsp;2.This Terms of Service are subject to change, JYmusic will announce changes on the official website. The revised terms of service are effectively replaced by the original terms of service once published on the website. You can visit the official website at any time access to the latest version of the terms of service.<br><br>
								
		&nbsp;&nbsp;&nbsp;&nbsp;3.You downloaded the application from the application center, without the application developer/The owner of the written permission, not to reverse engineer, reverse compilation, reverse compilation, etc., shall not copy, modify, link, reprint, compilation, publication, publishing, development and related derivative products, works and so on.<br><br>
		&nbsp;&nbsp;&nbsp;&nbsp;4.If you fail to comply with the terms of this Agreement, your license will be terminated and the rights granted will be withdrawn and liable accordingly.<br><br>

    	Third, the disclaimer<br><br>
    	&nbsp;&nbsp;&nbsp;&nbsp;JYmusic is a free open source program, only for communication and learning, is strictly prohibited for commercial use, so the consequences and the program has nothing to do with the author!
    </p>
{/block}

